.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 8px;
}

.charImg {
    width: 80px;
    height: auto;
}

.charName {
    justify-self: start;
}

.info, .otherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.info {
    gap: 32px;
}