.characters {
    display: flex;
    align-items: end;
    text-align: center;
    font-weight: bold;
    gap: 8px;
}

.charImg {
    height: 75px;
    width: auto;
}

.charName {
    justify-self: start;
}

.info, .otherInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.otherInfo {
    flex-direction: column;
}

.info {
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px
}