.game {
    display: flex;
    flex-direction: column;
}

.mapContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}