.main, .mapDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.table {
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    font-weight: bold;
}