.active {
    display: flex;
}

.inactive {
    display: none;
}

.menu {
    position: absolute;
    flex-direction: column;
    gap: 4px;
}

.target {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed red;
    background-color: rgba(255, 255, 255, 0.438);
    transform: translate(-50%, -50%)
}

.dropdown > ul {
    display: flex;
    flex-direction: column;
}