.mapContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.map {
    width: 1280px;
    cursor: crosshair;
}

.dropdown {
    position: absolute;
}

.active {
    display: block;
}

.inactive {
    display: none;
}